#Viper {
  background: linear-gradient(
    -45deg,
    #89f476ff,
    #347334ff,
    #2c4f5eff,
    #493a7cff
  );
  background-size: 200% 200%;
}
#Fade {
  background: linear-gradient(
    -45deg,
    #b1414cff,
    #5589bdff,
    #18344cff,
    #66376cff
  );
  background-size: 200% 200%;
}
#Breach {
  background: linear-gradient(
    -45deg,
    #ff9c33ff,
    #b04621ff,
    #523a23ff,
    #44412eff
  );
  background-size: 200% 200%;
}
#Raze {
  background: linear-gradient(
    -45deg,
    #feac45ff,
    #d64f35ff,
    #2c5942ff,
    #2b474bff
  );
  background-size: 200% 200%;
}
#Chamber {
  background: linear-gradient(
    -45deg,
    #ffce6fff,
    #7b4d21ff,
    #372d2bff,
    #163555ff
  );
  background-size: 200% 200%;
}
.Grenadier {
  background: linear-gradient(
    -45deg,
    #4afaffff,
    #4da6e1ff,
    #1a1e4bff,
    #391a61ff
  );
  background-size: 200% 200%;
}
#Skye {
  background: linear-gradient(
    -45deg,
    #94e789ff,
    #aa8a49ff,
    #4f1413ff,
    #314d48ff
  );
  background-size: 200% 200%;
}
#Cypher {
  background: linear-gradient(
    -45deg,
    #db9b75ff,
    #4268b3ff,
    #3f3f6cff,
    #2b527cff
  );
  background-size: 200% 200%;
}
.Hunter {
  background: linear-gradient(
    -45deg,
    #f7c7a5ff,
    #392931ff,
    #101c47ff,
    #082652ff
  );
  background-size: 200% 200%;
}
.Hunter_NPE {
  position: absolute;
  visibility: hidden;
}
#Killjoy {
  background: linear-gradient(
    -45deg,
    #ffc300ff,
    #b87b00ff,
    #413950ff,
    #614414ff
  );
  background-size: 200% 200%;
}
#Harbor {
  background: linear-gradient(
    -45deg,
    #f2d6a3ff,
    #136c6bff,
    #11434eff,
    #0c262cff
  );
  background-size: 200% 200%;
}
#Phoenix {
  background: linear-gradient(
    -45deg,
    #f7bf60ff,
    #ea6d4eff,
    #262423ff,
    #363b42ff
  );
  background-size: 200% 200%;
}
#Astra {
  background: linear-gradient(
    -45deg,
    #f47dc9ff,
    #a54498ff,
    #5210c6ff,
    #372518ff
  );
  background-size: 200% 200%;
}
#Brimstone {
  background: linear-gradient(
    -45deg,
    #eb953fff,
    #892c1bff,
    #211d21ff,
    #282b38ff
  );
  background-size: 200% 200%;
}
#Neon {
  background: linear-gradient(
    -45deg,
    #ba89ffff,
    #6241ccff,
    #38328eff,
    #2c4799ff
  );
  background-size: 200% 200%;
}
#Yoru {
  background: linear-gradient(
    -45deg,
    #66a8ffff,
    #3b37a7ff,
    #261e4fff,
    #101042ff
  );
  background-size: 200% 200%;
}
#Sage {
  background: linear-gradient(
    -45deg,
    #7bfedeff,
    #41819aff,
    #102d23ff,
    #226071ff
  );
  background-size: 200% 200%;
}
#Reyna {
  background: linear-gradient(
    -45deg,
    #e46e77ff,
    #c44d9fff,
    #2f2664ff,
    #2f203fff
  );
  background-size: 200% 200%;
}
#Omen {
  background: linear-gradient(
    -45deg,
    #2fdddeff,
    #4f53afff,
    #344673ff,
    #193b3dff
  );
  background-size: 200% 200%;
}
#Jett {
  background: linear-gradient(
    -45deg,
    #90e3fdff,
    #557f8cff,
    #2b4e7cff,
    #1e3344ff
  );
  background-size: 200% 200%;
}
